[submodule "engine/lib/glfw"]
	path = engine/lib/glfw
	url = https://github.com/glfw/glfw
[submodule "engine/lib/glm"]
	path = engine/lib/glm
	url = https://github.com/g-truc/glm
[submodule "engine/lib/magic_enum"]
	path = engine/lib/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "engine/lib/fmt"]
	path = engine/lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "engine/lib/Catch2"]
	path = engine/lib/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "engine/lib/observable_unique_ptr"]
	path = engine/lib/observable_unique_ptr
	url = https://github.com/cschreib/observable_unique_ptr
[submodule "engine/lib/imgui"]
	path = engine/lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "engine/lib/yaml-cpp"]
	path = engine/lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "engine/lib/enet"]
	path = engine/lib/enet
	url = https://github.com/zpl-c/enet
